/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  width: 350px;
  border-radius: 20px;
}

.temp {
  font-size: 45px;
  font-weight: bold;
  color: #0d6efd;
} */

body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  font-family: Arial, sans-serif;
}

.weather-card {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.info-card {
  border-radius: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.info-card p {
  margin: 0;
  font-weight: bold;
}

#weatherIcon {
  width: 120px;
}

.form-control {
  border: none;
}

.form-control:focus {
  box-shadow: none;
}
